/**/
/*Home Page CSS*/
/*Stars*/
.checked {
    color: orange;
}

/*Image*/
.img {
    display:flex;
    position: center;
    max-width: 400px;
    height: 320px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 5px
}

.img2 {
    display:flex;
    position: center;
    max-width: 400px;
    height: 320px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 5px
}
.carousel-container{
    ;
}
.title-project{
    padding: 20px 20px 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.featured-img{
    padding: 10px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.img-1:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*END Home page CSS*/
/*Fixed CSS for header and footer*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Nav Bar*/
.topnav {
    /*Font*/
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    /*End Font*/

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/* End Nav Bar*/

/*Search Container*/
.search-container{
    height: 125px;
    width: 100%;
    padding-top: 25px;
    background-size: cover;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/homepage.jpg") no-repeat;
}
.search-box{
    padding: 20px;
}
.search-field{
    margin-left: 50px;
    height: 20px;
    padding: 10px;
    border:none;
    border-radius:25px;
    outline:none;
}
.search{
    width:250px;
}
#for-filter{
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background-color: white;
    color: black;
    border-radius:4px;
    border: 2px solid #fff;
    width: 150px;

}
#type-filter{
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background-color: white;
    color: black;
    border-radius:4px;
    border: 2px solid #fff;
    width: 170px;

}
#location-filter{
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background-color: white;
    color: black;
    border-radius:4px;
    border: 2px solid #fff;
    width: 150px;
}

.search-button{
    height: 30px;
    width: 150px;
    background: lightskyblue;
    border:none;
    color: #000000;
    border-radius:25px

}
.search-button:hover{
    background: #2dddff;
}

/*End of Search*/

/*Footer*/
.footer-container{
    display:flex;
    padding:10px
}
/* information container */
.information-container{
    float: right;
    width: 50%;
}

#submit-button{
    height: 30px;
    width: 150px;
    background: lightskyblue;
    border:none;
    color: #000000;
    border-radius:25px

}
#submit-button:hover{
    background: #2dddff;

}

#blog-button{
     height: 30px;
     width: 150px;
     background: lightskyblue;
     border:none;
     color: #000000;
     border-radius:25px

 }
#blog-button:hover{
    background: #2dddff;
}


#subscribe-button{
    height: 30px;
    width: 150px;
    background: lightskyblue;
    border:none;
    color: #000000;
    border-radius:25px

}
#subscribe-button:hover{
    background: #2dddff;
}

/*contact-us-container*/

.contact-us-container{
    float: left;
    width: 50%;
}

.name-contact{
    width: 100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin: 8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;

}
.name-container{
    display:flex;

}

.other-information-container{
    display:flex;
}
.reason-container{
    padding: 10px 0px 10px 0;
    margin-bottom: 10px;
}
#reason{
    background-color: white;
    color: black;
    border-radius:4px;
    border: 2px solid #fff;
    width: 250px;
}

#submit-button{
    height: 30px;
    width: 150px;
    background: lightskyblue;
    border:none;
    color: #000000;
    border-radius:25px

}
#submit-button:hover{
    background: #2dddff;
}
.footer2 {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 7%;
    background-color: #000000;
    color: #fff;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
}